@import url("https://use.typekit.net/wyg3wcj.css");

body {
  font-family: ff-nexus-typewriter,serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("https://d17ol771963kd3.cloudfront.net/assets/bg/1-59b00d663c47e1d9275ef49b685893a4.gif");
  background-size:cover;
  color: white;
  font-size: 0.66vw;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 28vh;
}

.sup_logo {
  height: 5vh;
  width: auto;
}

.time {
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.links{
  display: block;
  margin-bottom: 2vh;
  text-decoration: none;
  color: white;
}

.links:hover{
  background: red;
  cursor: pointer;
}

.links_social{
  color: gray;
}

.links_social:hover{
  color: white;
  cursor: pointer;
}

.footer {
  margin-bottom: 5vh;
  bottom: 0;
  position: absolute;
}

@media only screen and (max-height: 900px) and (orientation: portrait) {

  body {
    font-size: 3vw;
  }
  .wrap {
    margin-top: 10vh;
  }

  .sup_logo {
    height: 7vh;
    width: auto;
  }

  .links_social {
    margin-top: 5vh;
    font-size: 5vw;
  }

  .footer {
    margin-bottom: 10vh;
  }
}

@media only screen and (min-width: 750px) and (orientation: portrait) {

  body {
    font-size: 2.5vw;
  }
  .wrap {
    margin-top: 10vh;
  }

  .sup_logo {
    height: 7vh;
    width: auto;
  }

  .links_social {
    margin-top: 5vh;
    font-size: 3vw;
  }

  .footer {
    margin-bottom: 10vh;
  }
}

@media only screen and (max-width: 1499px) and (min-width: 1023px) and (orientation: landscape){

  body {
    font-size: 1.5vw;
  }
  .wrap {
    margin-top: 10vh;
  }

  .sup_logo {
    height: 7vh;
    width: auto;
  }

  .links_social {
    margin-top: 5vh;
    font-size: 2vw;
  }

  .footer {
    margin-bottom: 10vh;
  }
}

@media only screen and (max-height: 420px) and (orientation: landscape) {

  body {
    font-size: 1.5vw;
  }
  .wrap {
    margin-top: 5vh;
  }

  .sup_logo {
    height: 4vh;
    width: auto;
  }

  .links_social {
    font-size: 1.5vw;
  }

}
